* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: purple;
    padding: 10px;
}

nav {
    float: right;
    padding: 5px;
    display: inline;
}

.nav-list{
    display: inline-block;
}

.nav-list li{
    display: inline-block;
}

main {
    min-height: 1000px;
    display: block;
    margin-top: 60px;
}

section {
    display: block;
}