* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: orange;
}

body {
    background-color: black;
}

header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: purple;
    padding: 5px;
}

nav {
    float: right;
    padding: 5px;
    display: inline;
}

.nav-list{
    display: inline-block;
}

.nav-list li{
    display: inline-block;
}

main {
    text-align: center;
    display: block;
    margin-top: 20px;
}

section {
    display: block;
    padding: 20px;
    color: lawngreen;
}

figure {
    background-color: grey;
}

footer {
    padding: 5px;
    background-color: purple;
    text-align: center;
    color: lawngreen;
}

/* class selectors */

.text-center {
    text-align: center;
    margin: 20px;
}

/* id selectors */

#contact-section {
    padding: 20px;
}

#contact-section label {
    display: block;
    margin: 5px;
}

#contact-section form {
    text-align: center;
}

#contact-section button {
    background-color: orange;
    padding: 5px;
    border: none;
    font-weight: bolder;
}